<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
    <stringAttribute key="CURRENT_PROJECT_NAME" value="CITYVIZ"/>
    <stringAttribute key="JOB_PROJECT_TECH_LABEL" value="CITYVIZ"/>
    <stringAttribute key="TALEND_JOB_ID" value="_1cHIkDyAEey-Aa9sPoOfVA"/>
    <stringAttribute key="TALEND_JOB_NAME" value="open_data_extract"/>
    <stringAttribute key="TALEND_JOB_VERSION" value="1.0"/>
</launchConfiguration>
