<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
    <stringAttribute key="CURRENT_PROJECT_NAME" value="CITYVIZ"/>
    <stringAttribute key="JOB_PROJECT_TECH_LABEL" value="CITYVIZ"/>
    <stringAttribute key="TALEND_JOB_ID" value="_fy9e8ElHEe2b_73YWgFcrg"/>
    <stringAttribute key="TALEND_JOB_NAME" value="test_job_01"/>
    <stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
